<div class="jumbotron">
      <h2>Gestionnaire de notes pour enseignants</h2>
      <p class="lead">
        • Un visiteur doit s'authentifier sur le site<br>
        • Un visiteur peut s'inscrire sur le site mais son compte doit être activé par un administrateur<br>
        • Un utilisateur inscrit dont le compte a été validé par un administrateur est un enseignant<br>
        • Un enseignant peut ajouter une épreuve à sa liste d'épreuve<br>
        • Un enseignant peut ajouter une matière à sa liste de matières<br>
        • Une matière est caractérisée par un titre et une période de temps (début et fin des
        interventions)<br>
        • Une épreuve est caractérisée pavr un titre et une date d'examen<br>
        • Une matière est constituée d'une ou plusieurs épreuves<br>
        • Un matière concerne une liste d'étudiants<br>
        • Un enseignant peut saisir les notes des étudiants<br>
        • Un étudiant peut consulter les épreuves auxquels il a participé<br>
        • Pour chaque épreuve, un étudiant peut consulter sa note<br>
        • Un étudiant est un utilisateur authentifié<br>
        • Un étudiant ne peut pas s'inscrire<br>
        • Un étudiant devra être être invité par un enseignant pour pouvoir s'identifier<br>
        • Un enseignant peut inviter un étudiant en précisant son nom, son prénom et son adresse
        email<br>
        • Lorsqu'un enseignant invite un étudiant, ce dernier reçoit une invitation par email<br>
</div>
<p>&copy;Hao LIU, Loubna HENNACH 2017</p>
