<div class="jumbotron">
      <h2>Hi there</h2>
      <p class="lead">
        We are Hao LIU and Loubna HENNACH. We are students from ENSIIE. This is a group project.<br>
        We kindly invite you to give your opinions and advices.<br>
        Please contact us<br>
        <br>
        <br>
        liuhaoxdu@gmail.com<br>
        loubna.hennach@hotmail.fr<br>
        <br>
        <a href="https://github.com/HaoLIU94">Visit our Github </a>
      </p>
</div>
<p>&copy;Hao LIU, Loubna HENNACH 2017</p>