<div class="jumbotron">
      <h2>Hi, nice to meet you</h2>
      <p class="lead">
        We are Hao LIU and Loubna HENNACH. We are students from ENSIIE.<br>
        We would like to hear from your opinion and advices.<br>
        Don't hesitate to contact us<br>
        <br>
        <br>
        <br>
        Email:liuhaoxdu@gmail.com<br>
        Github:HaoLIU94<br>
      </p>
</div>
<p>&copy;Hao LIU, Loubna HENNACH 2017</p>
