<div class="jumbotron">
  <% if user_signed_in? %>
      <% if current_user.admin?%>
          <h2>Welcome back, Administrator</h2>
         <%else if current_user.prof?%>
          <h2>Welcome back, professor!</h2>
         <% else %>
          <h2>Welcome back, dear student!</h2>
          <% end %>
        <% end %>
      <p class="lead">
        Please feel free to check, edit or delete your students notes.
        Thanks for checking our website.
      </p>
<% else %>
      <h2>Welcome to the Notes Manager!</h2>
      <p class="lead">
        You must sign in or sign up before you can check our Notes Manager.
      </p>
      <div class="container">
        <div class="row">
          <div class="col-sm-1">
          <%= link_to "Sign In", new_user_session_path, :class=>'btn btn-primary btn-md ' %>
        </div>
          <div class="col-sm-11">
          <%= link_to "Sign Up", new_user_registration_path, :class=>'btn btn-primary  btn-md ' %>
        </div>
        </div>
      </div>
  <% end %>
</div>
<p>&copy;Hao LIU, Loubna HENNACH 2017</p>
