body {
  padding-bottom: 50px;
}

.red-titles {
  color: red;
}

.bigger-titles {
  font-size: 28px;
}

.toggle-articles {
  visibility : hidden;
}

.align-right {
  text-align: right;
}

.go-next-page {
   footer {page-break-after: always;}
}